---
layout: default
title: Fly Norwegian
class: flights
nav: true
nav-order: 8
link-booknow: >
  https://ad.doubleclick.net/ddm/trackclk/N388808.2141904SECRETESCAPES/B10504420.142105659;dc_trk_aid=314340213;dc_trk_cid=73646631;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=

short-description:

banner-title:
banner-content:

intro: >
  <p class="lead-paragraph">Escape the dreary weather and plan your perfect getaway on sun-drenched shores. Fly direct from Gatwick from £159 one-way, or make things simple with a one week package deal from just £649, courtesy of Norwegian. </p>

---


{% include banner.html %}


<section class="section section--padding-small section--light-grey-bg">

  <div class="row row--columns-6-6 row--columns-vertical-align content_module align-center">
    <div class="row__column bg-image-ratio bg-image-ratio--4-3 content_module__image color-white" style="background-image: url('{{ site.baseurl }}/img/content/flights-comfort.jpg')">
    </div>
    <div class="row__column content_module__content">
      <h3>Fly in comfort</h3>
      <p>Norwegian offer some of the most comfortable flying in the world. With a fleet of state-of-the-art aircraft, a fleet amongst the youngest in the world, the experience is smooth, efficient, and relaxed. Check out the Dreamliner experience below </p>
    </div>
  </div>

  <div class="row row--columns-6-6 row--columns-vertical-align content_module align-center">
    <div class="row__column bg-image-ratio bg-image-ratio--4-3 content_module__image color-white" style="background-image: url('{{ site.baseurl }}/img/content/flights-dreamliner.jpg')">
    </div>
    <div class="row__column content_module__content">
      <h3>Get excited about flying again, with the 787 Dreamliner</h3>
      <p>This premier aircraft makes long haul flying comfortable and quick. Fuel efficiency savings are passed on to you, lighting is tailored to ease off the effects of jet lag, flights are quicker and quieter, and the in-flight entertainment system is second to none. Films, music, games and TV, plus an interactive 3D map including destination tips and the opportunity to order snacks and drinks from the screen, are just some of the features available. </p>
    </div>
  </div>

  <div class="row align-center">
    <a href="{{ page.link-booknow }}" class="btn btn--large">Book now</a>
  </div>

</section>



<section class="section section--padding-large" style="background-image: url('{{ site.baseurl }}/img/bg/banner-default.jpg');">

  <div class="row align-center color-white">

    <h2>Destination: Puerto Rico</h2>
    <p class="lead-paragraph">Fly direct from Gatwick from £159 one-way, or make things simple with a one week package deal from just £649, courtesy of Norwegian. With such a low price, consider flying in even greater comfort. With extra leg room, even comfier seats, complimentary meals and drinks, the Premium Cabin is a stellar upgrade. There’s even lounge access before you board.</p>

    <a href="{{ page.link-booknow }}" class="btn btn--large btn--white">Book now</a>

  </div>
</section>


{% include competition-section.html %}






<div class="hidden">

  <script type="text/javascript">

    var ord = Number(ord) || Math.floor(Math.random()*10e12);
    function generateScript(src_1){
      var script = document.createElement('script');
      var script_link = src_1 + ord + ';dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?';
      script.src = script_link;
      $('head').append(script);
    };
    /*-- DOUBLECLICK // Tracking 1x1-20161128_Puerto Rico_Fly Norwegian_1x1 --*/
    generateScript("https://ad.doubleclick.net/ddm/trackimpj/N388808.2141904SECRETESCAPES/B10504420.142105659;dc_trk_aid=314340213;dc_trk_cid=73646631;ord=");

  </script>

</div>

