---
layout: default
title: Puerto Rico
class: overview
nav: true
nav-order: 1
link-booknow: >
  https://ad.doubleclick.net/ddm/trackclk/N388808.2141904SECRETESCAPES/B10504420.142105592;dc_trk_aid=314338607;dc_trk_cid=73646631;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=

banner-title:
banner-content: >
  <h4>The culturally kaleidoscopic island of Puerto Rico remains the best kept secret in the Caribbean </h4>
  <a href="#" data-video-id="" class="js-launch-modal btn--play btn btn--solid">
    Watch video
    <img src="{{ site.baseurl }}/img/icons/play.png" class="js-svg-swap image-inline" height="20px" width="20">
  </a>

videoembed: >
  <iframe src="https://player.vimeo.com/video/193886901" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

intro: >
  <p class="lead-paragraph">A spellbinding land, Puerto Rico fuses colonial Spanish flavour with American style, with a people known for warm, vivacious hospitality making any stay a treat. Its astounding beauty will captivate you upon arrival, be it the multi-coloured patchwork of colonial buildings knitted together by cobbled streets, or the tropical rainforests that bleed serendipitously into golden shorelines with azure blue waters. It’s a wholesome, inviting scene that is ripe for exploring.</p>
  <div class="js-expand-content">
  <p>Those with an active disposition won’t be disappointed; Puerto Rico offers some of the best surfing and scuba diving spots around – with unique natural phenomenon, like the breathtaking Laguna Grande, providing the icing on the cake. Or choose to mix with the heady culture of this Caribbean jewel, and explore the culinary delights of the island, the endless supply of quality rum, and the hip-shaking sounds of salsa.</p>
  <p>Puerto Rico is a hot, frantic, and simultaneously laid-back den of complete escape, ready and waiting to fulfil your Caribbean wanderlust. For more information on Puerto Rico visit <a href="http://www.seepuertorico.com/">here</a>. </p>
  <p>Escape the dreary weather and plan your perfect getaway on sun-drenched shores. Fly direct from Gatwick from £159 one-way, or make things simple with a one week package deal from just £649, courtesy of <a href="https://www.norwegian.com/uk/destinations/puerto-rico---san-juan?D_City=LGW">Norwegian</a>.</p>
  <a href="javascript:void(0);" class="js-expand-content--btn">Read more...</a>
  </div>

---


{% include banner.html %}


<section class="section section--padding section--light-grey-bg">
  <div class="row row--padding row--columns-6-6-gutters">

    {% assign pagelinks = site.pages | where:"home-nav","true" | sort:"nav-order" %}
    {% for pagelink in pagelinks %}
    <a href="{{ site.baseurl }}{{ pagelink.url }}" class="row__column bg-image-ratio bg-image-ratio--3-2 box box--link box--underline box--underline-primary color-white {{ pagelink.class }}" style="background-image:url('{{ site.baseurl }}/img/bg/banner-{{ pagelink.class }}.jpg');">
      <span class="box--link-title">
        <h3>{{ pagelink.title }}</h3>
        <p class="lead-paragraph">{{ pagelink.short-description}}</p>
      </span>
    </a>
    {% endfor %}

  </div>
</section>


{% include norwegian-section.html %}


{% include video-modal.html %}






<div class="hidden">

  <script type="text/javascript">

    var ord = Number(ord) || Math.floor(Math.random()*10e12);
    function generateScript(src_1){
      var script = document.createElement('script');
      var script_link = src_1 + ord + ';dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?';
      script.src = script_link;
      $('head').append(script);
    };
    /*-- DOUBLECLICK // Tracking 1x1-20161128_Puerto Rico_Overview_1x1 --*/
    generateScript("https://ad.doubleclick.net/ddm/trackimpj/N388808.2141904SECRETESCAPES/B10504420.142105592;dc_trk_aid=314338607;dc_trk_cid=73646631;ord=");

  </script>

</div>

