---
layout: default
title: Style Guide
class: style-guide
nav-order: 5
meta-description: Accusamus ab expedita in impedit pariatur molestiae eveniet adipisci obcaecati autem explicabo, laudantium dolor amet, commodi officia enim tempora illum dolorem. Culpa.
---

<section class="section--fixed-bg intro site-header__offset text-white">
  <div class="row row--padding">
    <h1>{{ page.title }}</h1>
    <ul class="list--horizontal">
      <li><a href="#Typography">Typography</a></li>
      <li><a href="#Buttons">Buttons</a></li>
      <li><a href="#Colours">Colours</a></li>
      <li><a href="#Modal">Modal</a></li>
      <li><a href="#Offers">Offers</a></li>
    </ul>
  </div>
</section>



<!--// Typography
======================================-->

<section class="section--light-grey-bg styleguide--section" id="Typography">
  <div class="row row--padding">
    <span class="styleguide--title">Typography</span>
  </div>
</section>

<section>
  <div class="row row--padding">
    <h1>This is an H1 heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
    <h2>This is an H2 heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
    <h3>This is an H3 heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
    <h4>This is an H4 heading</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
    <h5>This is an H5 heading</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
    <h6>This is an H6 heading</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
  </div>
</section>



<!--// Buttons
======================================-->

<section class="section--light-grey-bg styleguide--section" id="Buttons">
  <div class="row row--padding">
    <span class="styleguide--title">Buttons</span>
  </div>
</section>

<section>
  <div class="row row--padding">
    <dl>
      <dt>
        <a href="#" class="btn">Find out more</a>
        <code>.btn</code>
      </dt>
      <dt>
        <a href="#" class="btn btn--solid">Find out more</a>
        <code>.btn.btn--solid</code>
      </dt>
      <dt>
        <a href="#" class="btn btn--large">Find out more</a>
        <code>.btn.btn--large</code>
      </dt>
    </dl>
  </div>
</section>



<!--// Colours
======================================-->

<section class="section--light-grey-bg styleguide--section" id="Colours">
  <div class="row row--padding">
    <span class="styleguide--title">Colours</span>
  </div>
</section>

<section>
  <div class="row row--padding row--columns-6-6 row--columns-6-6-gutters">

    <div class="row__column">
      <h4>Primary colours</h4>
      <dl>
        <dt>
          <span class="styleguide--colour bg--white"></span>
          White <code>$white</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--black"></span>
          Black <code>$black</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--light-grey"></span>
          Light grey <code>$light-grey</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--dark-grey"></span>
          Dark grey <code>$dark-grey</code>
        </dt>
        <hr />
        <dt>
          <span class="styleguide--colour bg--text-black"></span>
          Text Black <code>$text-black</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--text-heading"></span>
          Text Heading <code>$text-heading</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--text-paragraph"></span>
          Text Paragraph <code>$text-paragraph</code>
        </dt>
      </dl>
    </div>

    <div class="row__column">
      <h4>Theme colours</h4>
      <dl>
        <dt>
          <span class="styleguide--colour bg--se-orange"></span>
          SE Orange <code>$se-orange</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--se-light-grey"></span>
          SE Light grey <code>$se-light-grey</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--se-dark-grey"></span>
          SE Dark grey <code>$se-dark-grey</code>
        </dt>
        <hr />
        <dt>
          <span class="styleguide--colour bg--partner-primary"></span>
          Partner primary <code>$partner-primary</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--partner-secondary"></span>
          Partner secondary <code>$partner-secondary</code>
        </dt>
      </dl>
    </div>
  </div>
</section>



<!--// Modal
======================================-->

<section class="section--light-grey-bg styleguide--section" id="Modal">
  <div class="row row--padding">
    <span class="styleguide--title">Modals</span>
  </div>
</section>

<section>
  <div class="row row--padding">
    <p>Click below to open the modal. Assign class <code>.js-open-modal</code> to the button.</p>
    <a href="#" class="btn btn--solid js-open-modal">Open modal</a>
  </div>
</section>

{% include example-modal.html %}



<!--// Offers
======================================-->

<section class="section--light-grey-bg styleguide--section" id="Offers">
  <div class="row row--padding">
    <span class="styleguide--title">Offers</span>
  </div>
</section>

{% assign offers = site.data.offers %}
<section>

  <div class="row row--padding">
    <h4>Default offer</h4>
    <code>.offer</code>
    <hr />
    {% for offer in offers limit:1 %}
      {% include offer-block.html %}
    {% endfor %}
  </div>

  <div class="row row--padding">
    <h4>Stack offer</h4>
    <code>.offer.offer--stack</code>
    <hr />
    <div class="row--columns-6-6 row--columns-6-6-gutters">
      {% for offer in offers limit:2 %}
        {% include offer-block.html class="stack" %}
      {% endfor %}
    </div>
  </div>

  <div class="row row--padding">
    <h4>Featured offer</h4>
    <code>.offer.offer--featured</code>
    <hr />
    {% for offer in offers limit:1 %}
      {% include offer-block.html class="featured" %}
    {% endfor %}
  </div>

</section>