<section class="section section--fixed-bg section--padding-large section--partner-bg color-white" style="background-image: url('{{ site.baseurl }}/img/bg/banner-competition.jpg');">
  <div class="row row--padding align-center">

    <h2>Win a dream Puerto Rico holiday</h2>
    <p class="lead-paragraph">Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.</p>
    <a href="{{ site.baseurl }}/competition" class="btn btn--white btn--underline">ENTER NOW</a>

  </div>
</section>