<section class="section section--fixed-bg section--padding-large section--partner-bg color-white" style="background-image: url('{{ site.baseurl }}/img/bg/banner-competition.jpg');">
  <div class="row row--padding align-center">

    <h2>Win a dream Puerto Rican holiday</h2>
    <p class="lead-paragraph">Enter here for the chance to win flights with Norwegian and an opulent stay in San Juan</p>
    <a href="{{ site.baseurl }}/competition" class="btn btn--white btn--underline">ENTER NOW</a>

  </div>
</section>
