<!-- Expert modal -->

<!--  incrementing image number to loop through experts photos -->

<div class="js-modal modal is-closed" style="display: none;">
  <div class="js-modal__close modal__close"></div>
  <div class="row interview">

    {% for expert in experts %}

      <div id="{{expert.class}}" class="modal__content row row--padding is-closed">
        <div class="row row--columns-5-7 row--columns-5-7-gutters row--columns-vertical-align">
          <div class="row__column modal__image bg-image-ratio bg-image-ratio--3-2" style="background-image: url({{site.baseurl}}/img/content/expert-{{expert.class}}.jpg)"></div>
          <div class="row__column">
            <h2>{{expert.name}}</h2>
            <p class="lead-paragraph">{{expert.introduction}}</p>
          </div>
        </div>
        <hr />

        {{ expert.interview }}

      </div>
    {% endfor %}

  </div>
</div>