<footer class="site-footer text-white">

  <div class="row row--padding row--columns-6-6">
    <div class="row__column">
      <a class="logo logo--secret-escapes" href="https://www.secretescapes.com/"><img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/secret-escapes.png" alt="Secret Escapes logo"></a>
    </div>
    <div class="row__column align-right">
      <a class="logo logo--partner" href="#"><img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/partner.png" alt="Partner logo"></a>
    </div>
  </div>

  <div class="row row--padding align-center">
    <hr />
    {% assign nav-order = site.pages | sort:"nav-order" %}
    <ul class="list--horizontal footer-nav">
      {% for page in nav-order %}
      {% if page.nav-order %}
      <li>
        <a class="footer-nav__link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    <hr />
  </div>

  <div class="row row--padding align-center">
    © Copyright <span class="js-year">2016</span> Secret Escapes
  </div>

</footer>