<section class="page-section section section--no-padding row--columns-6-6 row--columns-vertical-align">

  <a href="{{ site.baseurl }}/flights" class="page-section--image row__column bg-image-ratio bg-image-ratio--16-9" style="background-image:url('{{ site.baseurl }}/img/bg/banner-flights.jpg');">
  </a>

  <div class="page-section--content align-center row__column row--padding">
    <h2>Get there with Norwegian</h2>
    <p class="lead-paragraph">Norwegian is the third largest low-cost airline in Europe and the seventh largest in the world, offering 447 routes to 138 destinations.</p>
    <a href="{{ site.baseurl }}/flights" class="btn btn--underline">Find out more</a>
  </div>

</section>