
{% if include.class == 'stack' %}



  <div class="row row__column offer offer--stack">

    <a href="{{ offer.link }}" class="bg-image-ratio bg-image-ratio--16-9 offer__image" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}.jpg')">
    </a>

    <div class="offer__content">

      <h2 class="offer__content-title"><a id="title-link-{{ offer.class }}" href="{{ offer.link }}">{{ offer.title }}</a></h2>
      <h3 class="h4 offer__content-location">{{ offer.location }}</h3>

      {% if offer.description %}
        <p>{{ offer.description }}</p>
      {% endif %}

      <p>From <strong>£{{ offer.price }}</strong> {{ offer.price-description }}</p>

      {% if offer.saved %}
        <p>Save up to <strong>{{ offer.saved }}</strong></p>
      {% endif %}

      {% if offer.expires %}
        <p>Offer ends on <strong>{{ offer.expires | date_to_long_string }}</strong></p>
      {% endif %}
      <a id="button-link-{{ offer.class }}" href="{{ offer.link }}" class="btn btn--solid">View Offer</a>

    </div>

  </div>



{% elsif include.class == 'featured' %}



  <div class="row row__column offer offer--featured">

    <a href="{{ offer.link }}" class="bg-image-ratio bg-image-ratio--21-9 offer__image" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}.jpg')">
    </a>

    <div class="offer__content">

      <div class="row row--columns-6-6 row--columns-6-6-gutters clearfix">
        <div class="row__column">
          <h2 class="offer__content-title"><a id="title-link-{{ offer.class }}" href="{{ offer.link }}">{{ offer.title }}</a></h2>
          {% if offer.description %}
            <p>{{ offer.description }}</p>
          {% endif %}
        </div>

        <div class="row__column">
          <ul class="list--lined">
            <li class="offer__data offer__data-price">From <strong>£{{ offer.price }}</strong> {{ offer.price-description }}</li>
            <li class="offer__data offer__data-location">{{ offer.location }}</li>
            {% if offer.saved %}
              <li class="offer__data offer__data-saved">Save up to <strong>{{ offer.saved }}</strong></li>
            {% endif %}
            {% if offer.expires %}
              <li class="offer__data offer__data-expires">Offer ends on <strong>{{ offer.expires | date_to_long_string }}</strong></li>
            {% endif %}
          </ul>
        </div>

      </div>

      <div class="row align-center">
        <a id="button-link-{{ offer.class }}" href="{{ offer.link }}" class="btn btn--solid">View Offer</a>
      </div>

    </div>
  </div>



{% else %}



  <div class="row row--columns-6-6 offer">

    <div class="row__column offer__image" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}.jpg')">
      <a class="offer__image-link" id="image-link-{{ offer.class }}" href="{{ offer.link }}"></a>
    </div>

    <div class="row__column offer__content">

      <h2 class="offer__content-title"><a id="title-link-{{ offer.class }}" href="{{ offer.link }}">{{ offer.title }}</a></h2>
      <h3 class="h4 offer__content-location">{{ offer.location }}</h3>

      <hr />

      {% if offer.description %}
        <p>{{ offer.description }}</p>
      {% endif %}

      <p>From <strong>£{{ offer.price }}</strong> {{ offer.price-description }}</p>

      {% if offer.saved %}
        <p>Save up to <strong>{{ offer.saved }}</strong></p>
      {% endif %}

      {% if offer.expires %}
        <p>Offer ends on <strong>{{ offer.expires | date_to_long_string }}</strong></p>
      {% endif %}

      <a id="button-link-{{ offer.class }}" href="{{ offer.link }}" class="btn btn--solid">View Offer</a>

    </div>

  </div>



{% endif %}


