<!-- Assign accent colors for pages

  .adventure:      #43561b
  .culture:        #786863
  .experts:        #016878
  .food-and-drink: #8a0008
  .hidden-gems:    #182230
  .nature:         #414a56

-->
<style>

  .adventure .page-bg-color { background-color: #43561b; }
  .adventure .page-text-color { color: #43561b; }
  .adventure.box--link:before { background-color: #43561b; }

  .culture .page-bg-color { background-color: #786863; }
  .culture .page-text-color { color: #786863; }
  .culture.box--link:before { background-color: #786863; }

  .experts .page-bg-color { background-color: #016878; }
  .experts .page-text-color { color: #016878; }
  .experts.box--link:before { background-color: #016878; }

  .food-and-drink .page-bg-color { background-color: #8a0008; }
  .food-and-drink .page-text-color { color: #8a0008; }
  .food-and-drink.box--link:before { background-color: #8a0008; }

  .hidden-gems .page-bg-color { background-color: #182230; }
  .hidden-gems .page-text-color { color: #182230; }
  .hidden-gems.box--link:before { background-color: #182230; }

  .nature .page-bg-color { background-color: #414a56; }
  .nature .page-text-color { color: #414a56; }
  .nature.box--link:before { background-color: #414a56; }

</style>