<a class="logo logo--partner" href="https://www.norwegian.com/uk/booking/flight-tickets/farecalendar/?D_City=LGW&A_City=SJU&D_Day=01&D_Month=201701&R_Day=01&R_Month=201701&IncludeTransit=false&AgreementCodeFK=-1&CurrencyCode=GBP">
  <img class="logo--partner--img js-svg-swap" src="{{ site.baseurl }}/img/logo/logo-norwegian.png" alt="Norwegian Air Logo">
</a>

<a class="logo logo--partner" href="http://www.seepuertorico.com/">
  <img class="logo--partner--img js-svg-swap" src="{{ site.baseurl }}/img/logo/logo-puerto-rico.png" alt="Puerto Rico Logo">
</a>