// modal specific


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-overlay;
  background-color: $black-85;
  overflow-y: auto;
  &__close {
    position: fixed;
    right: 2em;
    top: 2em;
    height: 3em;
    width: 3em;
    border-radius: 5em;
    background-color: $black-5;
    background-image: url('../img/icons/close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    z-index: $z-overlay-upper;
    @include transition;
    &:hover {
      right: 1.75em;
      top: 1.75em;
      height: 3.5em;
      width: 3.5em;
      background-size: 1.33em;
      background-color: $black-85;
    }
  }
  &__content {
    max-width: $xlarge;
    display: none;
    background-color: white;
    padding-bottom: ($margin);
    margin-top: ($margin*2) !important;
    margin-bottom: ($margin*2);
    &.active { display: block; }
  }
  &__content-wrap {
    padding: $margin;
    color: $text-paragraph;
    background-color: $white;
  }
  &__title {
    font-size: 2.25em;
    line-height: 1.2;
    font-weight: 500;
    @include bp(large) {
      text-align: left;
    };
  }
  &__image {
    width: 50%;
    margin-top: -2em;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  &__top-cta {
    text-align: center;
    > a { text-align: center; }
    @include bp(large) {
      text-align: right;
    };
  }
  &__terms {
    font-size: .8em;
    color: #738a8c;
  }



  &--video {
    .modal__wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    .modal__content {
      display: block !important;
      background-color: transparent;
      margin: auto auto !important;
      padding: 0;
    }
  }

  iframe {
    max-width: 100%;
    padding: 0 15px;
  }

}
