
// content_module block styles for {{ include content_module-block.html }}



.content_module {
  background-color: white;
  margin-bottom: $margin;
  min-height: 300px;
  .row__column{
    margin-top: 0;
  }
  &__image {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover;
  }
  &__image-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__content {
    overflow: hidden;
    padding: 1.5em;
    p + p { margin-top: .5em; }
  }
  &__content-title {
    margin-bottom: .482em;
    font-size: 1.728em;
  }
  &__content-location {
    margin-bottom: .833em;
    font-size: 1.2em;
    line-height: 1.44;
    &:before {
      content: "";
      display: inline-block;
      height: 1em;
      width: .833em;
      margin-right: .482em;
      margin-bottom: .2em;
      vertical-align: bottom;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }
  &__content-price {
    font-weight: bold;
    font-size: 1.44em;
  }



  // Stacked style content_module
  &--small {
    .content_module__image {
      position: relative;
      display: block;
    }
  }



  // Featured style content_module
  &--featured {
    max-width: $large;
    .content_module__image {
      position: relative;
      display: block;
    }
  }


  .content_module__data {
    &:before {
      font-size: 1.2em;
      content: "";
      display: inline-block;
      height: 1em;
      width: 1em;
      margin-right: .482em;
      margin-bottom: .2em;
      vertical-align: bottom;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
    }
    &-location:before { background-image: url("../img/icons/map-pin.svg"); }
    &-price:before { background-image: url("../img/icons/price.svg"); }
    &-saved:before { background-image: url("../img/icons/saved.svg"); }
    &-expires:before { background-image: url("../img/icons/expires.svg"); }
  }


}

