
// Offer block styles for {{ include offer-block.html }}



.offer {
  border: 1px solid $light-grey;
  &:hover { background-color: $light-grey; }
  .row__column{
    margin-top: 0;
  }
  &__image {
    position: relative;
    height: 18em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover;
    @include bp(large) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: auto;
    }
  }
  &__image-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__content {
    overflow: hidden;
    padding: $margin ($margin * 1.2);
    p + p { margin-top: .2em; }
  }
  &__content-title {
    margin-bottom: .482em;
    font-size: 1.728em;
  }
  &__content-location {
    margin-bottom: .833em;
    font-size: 1.2em;
    line-height: 1.44;
    &:before {
      content: "";
      display: inline-block;
      height: 1em;
      width: .833em;
      margin-right: .482em;
      margin-bottom: .2em;
      vertical-align: bottom;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }
  &__content-price {
    font-weight: bold;
    font-size: 1.44em;
  }



  // Stacked style offer
  &--stack {
    .offer__image {
      position: relative;
      display: block;
    }
  }



  // Featured style offer
  &--featured {
    max-width: $large;
    .offer__image {
      position: relative;
      display: block;
    }
  }


  .offer__data {
    &:before {
      font-size: 1.2em;
      content: "";
      display: inline-block;
      height: 1em;
      width: 1em;
      margin-right: .482em;
      margin-bottom: .2em;
      vertical-align: bottom;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
    }
    &-location:before { background-image: url("../img/icons/map-pin.svg"); }
    &-price:before { background-image: url("../img/icons/price.svg"); }
    &-saved:before { background-image: url("../img/icons/saved.svg"); }
    &-expires:before { background-image: url("../img/icons/expires.svg"); }
  }


}

