// custom styles for styleguide

.styleguide {
  &--section {
    padding: 20px 0;
  }
  &--title{
    font-size: 1.2em;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-transform: uppercase;
  }
  &--colour {
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 1px solid $black-15;
    margin: 0px 10px -5px 0;
  }
}

code {
  padding: 2px 4px;
  margin: 0 4px;
  font-size: 90%;
  background-color: $light-grey;
  border: 1px solid $black-15;
  border-radius: 4px;
  font-family: 'Roboto Mono',Menlo,Monaco,Consolas,"Courier New",monospace;
}



.bg {
  &--white { background-color: $white; }
  &--black { background-color: $black; }
  &--light-grey { background-color: $light-grey; }
  &--dark-grey { background-color: $dark-grey; }

  &--text-black { background-color: $text-black; }
  &--text-heading { background-color: $text-heading; }
  &--text-paragraph { background-color: $text-paragraph; }

  &--se-orange { background-color: $se-orange; }
  &--se-light-grey { background-color: $se-light-grey; }
  &--se-dark-grey { background-color: $se-dark-grey; }

  &--partner-primary { background-color: $partner-primary; }
  &--partner-secondary { background-color: $partner-secondary; }
  &--partner-tertiary { background-color: $partner-tertiary; }
}

