// all custom styles for the site


.site-footer {
  padding-top: $margin;
  padding-bottom: $margin;
  color: darken( $white, 20 );
  font-weight: 400;
  background-color: $black;

  .footer-nav {
    &__link {
      font-size: 1em;
      font-weight: 600;
      letter-spacing: 0.05em;
      padding: 0 10px;
    }
  }
}


// ---------- Section styles ----------

.section {
  width: 100%;
  // Fixed background section
  &--fixed-bg {
    padding-top: 8em;
    padding-bottom: 8em;
    color: $white;
    background-color: $se-light-grey;
    background: $se-light-grey center no-repeat;
    background-image: url('../img/bg/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    p { font-weight: 400; }
    .page-content &:first-child:before {
      content: '';
      display: block;
      height: 3.375em;
    }
  }
  // Coloured backgrounds
  &--light-grey-bg {
    background-color: $light-grey;
  }
  &--dark-grey-bg {
    background-color: $dark-grey;
    color: $white;
  }
  &--black-bg {
    background-color: $black;
    color: $white;
  }
  &--partner-bg {
    background-color: $partner-primary;
    color: $white;
  }
  &--partner-secondary-bg {
    background-color: $partner-secondary;
    color: $white;
  }
  // Layout modification
  &--padding {
    padding-top: 2.25em;
    padding-bottom: 2.25em;
    @include bp(large) {
      padding-top: 3.375em;
      padding-bottom: 3.375em;
    }
  }
  &--padding-small {
    padding-top: 1.728em;
    padding-bottom: 1.728em;
    @include bp(large) {
      padding-top: 2.25em;
      padding-bottom: 2.25em;
    }
  }
  &--padding-large {
    padding-top: 3.375em;
    padding-bottom: 3.375em;
    @include bp(large) {
      padding-top: 6.192em;
      padding-bottom: 6.192em;
    }
  }
  &--no-padding {
    padding-top: 0em;
    padding-bottom: 0em;
  }
}


.page-section {
  &--image {
    display: block;
    @include bp(large) {
      min-height: 500px;
    }
  }
  &--content { padding: 2em 4em; }
}

// ---------- Banner ----------

.banner {
  position: relative;
  padding: 12em 0;
  background-image: url('../img/bg/banner-default.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &--title {
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3.8em;
    text-shadow: 0 0 35px rgba(14, 20, 32, 0.8);
    line-height: 1;
    margin-bottom: 20px;
    @include bp(large) {
      font-size: 5.2em;
    }
  }
  &--subtitle {
    border-top: 3px solid white;
    padding: 1.5em 0;
    text-shadow: 0 0 35px rgba(14, 20, 32, 0.8);
  }
}

// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: .7em 2.5em .6em;
  border: 2px solid $partner-secondary;
  color: $partner-secondary;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  &:hover {
    color: white;
    background-color: $partner-secondary;
    text-decoration: none;
  }
  * + & { margin-top: 15px; }

  &--solid { color: white; border: 0; background-color: $partner-secondary; }
  &--large { font-size: 1.2em; padding: .8em 3em; }
  &--wide { width: 100%; }
  &--underline {
    color: white; border: 0; background-color: $partner-secondary;
    display: inline-block;
    position: relative;
    margin-bottom: 6px;
    &:after {
      @include transition;
      content: "";
      height: 3px; width: 100%;
      position: absolute; bottom: -6px; left: 0;
      background-color: $partner-secondary;
    }
    &:active {
      -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
      transform: translateY(3px);
      &:after {
        -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        transform: translateY(-3px);
      }
    }
  }
  &--white {
    color: $partner-secondary; border: 0; background-color: rgba($white, 0.8);
    &:after {
      background-color: $white;
    }
    &:hover { color: $partner-secondary; background-color: $white; }
  }

  &--play {
    padding: 0.8em 0 0.8em 1.5em;
    border-radius: 30px;
    img {
      display: inline-block;
      height: 45px;
      width: 45px;
      margin: -1em 0 -1em 1.2em;
    }
  }
}



// ---------- Box modules ----------

.box {
  padding: 1.5em;
  background-color: rgba( $partner-primary, .8 );
  position: relative;
  display: block;

  &--primary-bg { background-color: rgba( $partner-primary, .8 ); }
  &--secondary-bg { background-color: rgba( $partner-secondary, .8 ); }
  &--white-bg { background-color: rgba(white, .8 ); }
  &--black-bg { background-color: rgba($black, .8 ); }

  &:after {
    height: 3px; width: 100%;
    position: absolute; bottom: -6px; left: 0;
  }

  &--underline {
    &:after { content: ""; background-color: #fff; }
    &-primary:after { content: ""; background-color: $partner-primary;}
    &-secondary:after { content: ""; background-color: $partner-secondary;}
  }
  &--overline {
    @include bp(large) {
      margin-top: 6px !important;
    }
    &:before {
      content: ""; height: 3px; width: 100%;
      background-color: #fff;
      position: absolute; top: -6px; left: 0;
    }
  }

  &--link {
    margin-bottom: 2em;
    padding: 0;
    &-title {
      @include transition();
      position: absolute; bottom: 30px; left: 0;
      width: 100%; padding: 0 20px;
      text-align: center;
    }
    &:before {
      @include transition();
      opacity: 0;
      content: ""; background-color: $partner-secondary;
    }
    &:hover {
      .box--link-title {
        bottom: 25px;
      }
      &:before { opacity: 0.6; }
    }
  }

}



.intro {
  position: relative;
  &--weather {
    margin-top: 2em !important;
      @include bp(large) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}



.js-expand-content {
  @include transition();
  position: relative;
  overflow: hidden;
  &--btn {
    display: block; position: absolute; z-index: 2;
    bottom: 0; left: 50%;
    margin-left: -80px;
    width: 160px;
    height: 30px;
    padding: 3px 15px;
    background-color: $white-85;
    border-radius: 30px;

    color: $partner-secondary;
    font-size: 0.95em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
  &:after {
    content: ""; z-index: 1;
    position: absolute; bottom: 0; left: 0;
    height: 100%; width: 100%;
    background: -moz-linear-gradient(top,  rgba(0,61,80,0) 0%, rgba(0,61,80,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,61,80,0) 0%,rgba(0,61,80,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,61,80,0) 0%,rgba(0,61,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00003d50', endColorstr='#003d50',GradientType=0 );
  }

  &.expanded {
    .js-expand-content--btn { display: none; }
    &:after { display: none; }
  }
}


