---
layout: default
title: Competition
class: competition
nav-order: 9
link-booknow: >
  https://ad.doubleclick.net/ddm/trackclk/N388808.2141904SECRETESCAPES/B10504420.142104968;dc_trk_aid=314331055;dc_trk_cid=73646631;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=

short-description:

banner-title:
banner-content: >
  <h4>Enter here for the chance to win flights with Norwegian and stay in luxury in San Juan </h4>

intro:

---


{% include banner.html %}


<section class="section--no-padding section--white-bg align-center">

  <div class="row row--padding row--columns-6-6 row--columns-vertical-align">

    <div class="row__column row__column--gutters">
      <p class="lead-paragraph">Jet away in luxury courtesy of Norwegian and Secret Escapes, and discover the Caribbean’s best kept secret. Puerto Rico is a land of astounding beauty, with cultural and artistic treasures ripe for discovery. From rainforests to stunning coastline, there’s a plethora of dramatic landscapes and intrepid activities to explore. </p>
    </div>

    <div class="row__column">
      <div class="bg-image-ratio bg-image-ratio--16-9" style="background-image: url({{ site.baseurl }}/img/content/competition-location-1.jpg);">
      </div>
      <div class="row row--columns-6-6">
        <div class="row__column bg-image-ratio bg-image-ratio--16-9" style="background-image: url({{ site.baseurl }}/img/content/competition-location-2.jpg);"></div>
        <div class="row__column bg-image-ratio bg-image-ratio--16-9" style="background-image: url({{ site.baseurl }}/img/content/competition-location-3.jpg);"></div>
      </div>
    </div>

  </div>

</section>

<section class="section--no-padding section--light-grey-bg align-center">

  <div class="row row--padding row--columns-6-6 row--columns-vertical-align">

    <div class="row__column">
      <div class="bg-image-ratio bg-image-ratio--16-9" style="background-image: url({{ site.baseurl }}/img/content/competition-hotel-1.jpg);">
      </div>
      <div class="row row--columns-6-6">
        <div class="row__column bg-image-ratio bg-image-ratio--16-9" style="background-image: url({{ site.baseurl }}/img/content/competition-hotel-2.jpg);"></div>
        <div class="row__column bg-image-ratio bg-image-ratio--16-9" style="background-image: url({{ site.baseurl }}/img/content/competition-hotel-3.jpg);"></div>
      </div>
    </div>

    <div class="row__column row__column--gutters">
      <p class="lead-paragraph">With a luxury base in San Juan, boutique shopping, charming colonial architecture and a riot of bars and restaurants welcome you with a unique and dynamic Puerto Rican flair. 13 nights at the 4* La Concha Resort provides an opulent backdrop, with a pool, spa and casino ready to enjoy.</p>
    </div>

  </div>

</section>

<section class="section--white-bg">

  <div class="row row--padding align-center">
    <h3>Enter here, and live the culture of this beguiling and enchanting island.</h3>
    <iframe src="https://puerto-rico.strutta.me" width="100%" height="880"> </iframe>
  </div>

</section>



{% include norwegian-section.html %}





<div class="hidden">

  <script type="text/javascript">

    var ord = Number(ord) || Math.floor(Math.random()*10e12);
    function generateScript(src_1){
      var script = document.createElement('script');
      var script_link = src_1 + ord + ';dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?';
      script.src = script_link;
      $('head').append(script);
    };
    /*-- DOUBLECLICK // Tracking 1x1-20161128_Puerto Rico_Competition_1x1 --*/
    generateScript("https://ad.doubleclick.net/ddm/trackimpj/N388808.2141904SECRETESCAPES/B10504420.142104968;dc_trk_aid=314331055;dc_trk_cid=73646631;ord=");

  </script>

</div>




