---
layout: default
title: Competition
class: competition
nav-order: 9

banner-title:
banner-content: >
  <h4>Enter here for the chance to win flights with Norwegian and stay in luxury in San Juan </h4>

intro:

---


{% include banner.html %}


<section class="section--padding section--light-grey-bg align-center">
  <div class="row row--padding">
    <p class="lead-paragraph">Jet away in luxury courtesy of Norwegian and Secret Escapes, and discover the Caribbean’s best kept secret. Puerto Rico is a land of astounding beauty, with cultural and artistic treasures ripe for discovery. From rainforests to stunning coastline, there’s a plethora of dramatic landscapes and intrepid activities to explore. With a luxury base in San Juan, boutique shopping, charming colonial architecture and a riot of bars and restaurants welcome you with a unique and dynamic Puerto Rican flair.</p>
    <p class="lead-paragraph">Enter here, and live the culture of this beguiling and enchanting island.</p>

    <iframe src="https://puerto-rico.strutta.me" width="100%" height="880"> </iframe>

  </div>
</section>


{% include norwegian-section.html %}
