---
layout: default
title: Experts
class: experts
home-nav: true
nav: true
nav-order: 7

color: 016878

banner-title:
banner-content:

intro: >
  <p class="h4">Meet our local experts, offering top tips and insights into the unique identity of this small island, with a big heart.</p>

---


{% include banner.html %}


<section class="section section--padding section--light-grey-bg">
  <div class="row row--padding row--columns-6-6-gutters">

    {% assign experts = site.data.experts %}
    {% for expert in experts %}
    <a href="{{ expert.url }}" data-expert="{{ expert.class }}" class="js-launch-modal row__column bg-image-ratio bg-image-ratio--1-1 box box--link box--underline box--underline-primary color-white" style="background-image:url('{{ site.baseurl }}/img/content/expert-{{ expert.class }}.jpg');">
      <h3 class="box--link-title">{{ expert.name }}</h3>
    </a>
    {% endfor %}

  </div>
</section>


{% include norwegian-section.html %}


{% include competition-section.html %}




<!--  EXPERT MODAL -->
{% include expert-modal.html %}
